/* Global styling */
* {
    margin: 0;
    padding: 0;
}


/* General Styling */
body {
    position: relative;
    background: #3b3b3b url(../image/zombie-1.png) no-repeat top center;
    background-size: 150vw 75vh;
    height: 100vh;
    width: 100vw;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: -100;
}

/* Settings Button */
#settingsBtn {
    color: white;
    font-size: 10vw;
    position: fixed;
    top: 0vh;
    z-index: 100;
}
#settingsCheck {
    display: none;
}
/* Settings Screen */
#settings {
    display: none;
    background: white;
    position: fixed;
    height: auto;
    width: 74vw;
    top: 7vh;
    left: 11vw;
    border-radius: 5px;
    z-index: 100;
}
#settings h3 {
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(142, 137, 137);
    padding: 1vw;
}

#settingsScreen {

}

/* Fillable bars positioning and styling */
/* Zombie Health Bar */
#zHealthBar {
    top: 1vh;
    left: 15vw;
    position: relative;
    height: 3vh;
    width: 70vw;
    background: white;
    border-radius: 5px;
}
#zHealthIndicator {
    position: relative;
    height: 100%;
    width:100%;
    background: green;
    border-radius: 5px;
}

/* Player Health Bar */
#pHealthBar {
    top: 88vh;
    left: 15vw;
    position: fixed;
    height: 3vh;
    width: 70vw;
    background: white;
    border-radius: 5px;
}
#pHealthIndicator {
    position: relative;
    height: 100%;
    width: 50%;
    background: red;
    border-radius: 5px;
}

/* Noise Level Bar */
#noiseLevel {
    display: flex;
    position: fixed;
    left: 2vw;
    top: 15vh;
    height: 60vh;
    width: 3vh;
    background: white;
    border-radius: 5px;
}
#noiseIndicator {
    position: relative;
    height: 50%;
    width: 100%;
    background: blue;
    border-radius: 5px;
    align-self: end;
}


/* Inventory button */
#invBtn {
    position: fixed;
    right: 1vh;
    top: 92vh;
    width: 7vh;
    height: 7vh;
    z-index: 100;
}
#invCheck {
    display: none;
}
#invBtnLabel {
    position: fixed;
    right: 1vh;
    top: 92vh;
    width: 7vh;
    height: 7vh;
    border-radius: 5px;
    z-index: 100;
    color: rgb(237, 234, 13);
    font-size: 7vh;
}


/* Inventory screen */
#inv {
    background: white;
    display: none;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    position: fixed;
    top: 27vh;
    left: 30vw;
    height: 60vh;
    width: 70vw;
    border-radius: 5px;
    z-index: 90;
}
#itemList {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    align-self: baseline;
    padding-left: 3vh;
}
#itemList li {
    border-style: solid;
    width: 58vw;
    list-style: none;
    margin: 1vw;
}
#inv h3 {
    background: rgb(0, 0, 0);
    color: white;
    padding: 2vh 0;
    text-align: center;
    position: fixed;
    width: 70vw;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(142, 137, 137);
}


/* Traits */
#traits {   
    position: fixed;
    left: 2vw;
    top: 92vh;
    width: 7vh;
    height: 7vh;
    border-radius: 5px;
    z-index: 100;
    font-size: 7vh;
    color: rgb(237, 234, 13);
}


/* Clock */
#clockContainer {
    position: fixed;
    display: flex;
    width: 100vw;
    top: 92vh;
    justify-content: center;
    align-items: center;
    z-index: 70;
}
#clock {
    background: white;
    height: 5vh;
    font-size: 4vh;
    text-align: center;
    border-radius: 5px;
    padding: 1vw;
}


/* Actions  */
#actions {
    position: fixed;
    display: flex;
    gap: 4vw;
    bottom: 14vh;
    height: 4vh;
    font-size: 3vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
#actions div {
    background: white;
    border-radius: 5px;
    padding: 1vw;
}

/* Combat Log */
#combatLog {
    display: flex;
    position: fixed;
    background: rgb(59 59 59);
    top: 68vh;
    left: 10vw;
    width: 80vw;
    height: 10vh;
    font-size: 5vw;
    color: #fefefe;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #fefefe;
    padding: 1vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* Combat Log Button */
#combatLogBtn {

}

/* Media queries for landscape views */
@media (orientation: landscape) {

    /* General Styling MQ*/
    body {
        background: black url(../image/zombie-1.png) no-repeat left center;
        background-size: 50vw 100vh;
    }

    #settingsBtn {
        font-size: 10vh;
        top: 89vh;
        left: 76vw;
    }


    /* Zombie Health Bar MQ */
    #zHealthBar {
        top: 3vh;
        left: 15vw;
        height: 7vh;
        width: 25vw;
    }


    /* Player Health Bar MQ */
    #pHealthBar {
        top: 81vh;
        left: 58vw;
        height: 7vh;
        width: 40vw;
    }


    /* Noise Level Indicator MQ */
    #noiseLevel {
        left: 1vw;
        top: 11vh;
        height: 77vh;
        width: 7vh;
    }


    /* Inventory MQ */
    #inv {
        top: 11vh;
        left: 58vw;
        height: 69vh;
        width: 40vw;
    }
    #inv h3 {
        padding: 2vw 0;
        width: 40vw;
    }
    #itemList {
        margin-top: 8vw;
        padding-left: 3vw;
    }
    #itemList li {
        width: 58vh;
        margin: 1vh;
    }


    /* Inventory Button MQ */
    #invBtn {
        top: 89vh;
        right: 2vw;
        height: 10vh;
        width: 10vh;
    }
    #invBtnLabel {
    position: static;
    font-size: 10vh;
}


    /* Traits MQ */
    #traits {
        top: 89vh;
        left: 58vw;
        height: 10vh;
        width: 10vh;
        font-size: 10vh;        
    }


    /* Clock */
    #clockContainer {
        position: fixed;
        left: 58vw;
        width: 40vw;
        top: 2vh;
    }
    #clock {
        font-size: 6vh;
        top: 3vh;
        left: 73vw;
        height: 7vh;
        padding: 1vh;
    }


    /* Actions */
    #actions {
        left: -18vw;
        font-size: 4vh;
        bottom: 13.4vh;
    }
    #actions div {
        padding: 1vh;
        height: 5.1vh;
    }

    /* Combat Log */
    #combatLog {
        top: 13vh;
        left: 58vw;
        width: 36vw;
        height: 56vh;
        font-size: 10vh;
        border-width: 1vw;
        padding: 1vw;
    }
}