/* Global styling */
* {
    margin: 0;
    padding: 0;

    /* Hide scrollbar for IE, Edge and Firefox following instructions from: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}


/* General Styling */
body {
    position: fixed;
    background: #000000 url(../image/zombie-1.png) no-repeat top center;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: -100;
}

/* Settings Button */
#settingsBtn {
    color: white;
    font-size: 10vw;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
    z-index: 100;
}
#settingsBtnLabel {
    display: flex;
}
#settingsCheck {
    display: none;
}
/* Settings Screen */
#settings {
    display: none;
    background: #bab8b8eb;
    position: fixed;
    height: auto;
    width: 86vw;
    bottom: 61vh;
    left: 11vw;
    border-radius: 1vh;
    z-index: 100;  
}
#settings h3 {
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 1vh;
    border-style: solid;
    border-color: rgb(142, 137, 137);
    padding: 1vw;
}
#settingsScreen {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 2vh;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
/* Combat Log Button */
#combatLogBtnOn {
    display: none;
    background: #000000ba;
    color: white;
    padding: 2vw;
    border-radius: 1vh;
    text-align: center;
    width: 50%;
    justify-content: center;
}
#combatLogBtnOff {
    display: flex;
    background: #000000ba;
    color: white;
    padding: 2vw;
    border-radius: 1vh;
    text-align: center;
    width: 50%;
    justify-content: center;
}
#toolTipOn {
    display: none;
    background: #000000ba;
    color: white;
    padding: 2vw;
    border-radius: 1vh;
    text-align: center;
    width: 50%;
    justify-content: center;
}
#toolTipOff {
    display: flex;
    background: #000000ba;
    color: white;
    padding: 2vw;
    border-radius: 1vh;
    text-align: center;
    width: 50%;
    justify-content: center;
}

/* Fillable bars positioning and styling */
/* Zombie Health Bar */
#zHealthBar {
    top: 5vh;
    left: 15vw;
    position: fixed;
    height: 2vh;
    width: 70vw;
    background: #ffffff42;
    border-radius: 1vh;
    z-index: 100;
    border-style: solid;
    border-color: white;
}
#zHealthIndicator {
    position: relative;
    height: 100%;
    width:100%;
    background: green;
    border-radius: 1vh;
}

/* Player Health Bar */
#pHealthBar {
    bottom: 9vh;
    left: 15vw;
    position: fixed;
    height: 3vh;
    width: 70vw;
    background: #ffffff42;
    border-radius: 1vh;
    z-index: 100;
    border-style: solid;
    border-color: white;
}
#pHealthIndicator {
    position: relative;
    height: 100%;
    width: 100%;
    background: red;
    border-radius: 1vh;
}

/* Noise Level Bar */
#noiseLevel {
    display: flex;
    position: fixed;
    left: 0.8vw;
    bottom: 25vh;
    height: 60vh;
    width: 3vh;
    background: #ffffff42;
    border-radius: 1vh;
    z-index: 100;
    border-style: solid;
    border-color: white;
}
#noiseIndicator {
    position: relative;
    height: 0%;
    width: 100%;
    background: blue;
    border-radius: 1vh;
    align-self: end;
    z-index: 50;
}


/* Inventory button */
#invBtn {
    position: fixed;
    right: 1vh;
    bottom: 1vh;
    width: 7vh;
    height: 7vh;
    z-index: 100;
}
#invCheck {
    display: none;
}
#invBtnLabel {
    display: flex;
    position: fixed;
    right: 1vh;
    border-radius: 1vh;
    z-index: 100;
    color: rgb(255, 255, 255);
    font-size: 7vh;
}


/* Inventory screen */
#inv {
    display: none;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    position: fixed;
    bottom: 22vh;
    left: 30vw;
    height: 60vh;
    width: 70vw;
    border-radius: 1vh;
    z-index: 90;
    border-style: solid;
    border-color: #ffffff;
    background: #bab8b8eb;
}
#itemList {
    display: flex;
    flex-direction: column;
    margin-bottom: 9vh;
}
.items {
    border-style: solid;
    width: 58vw;
    list-style: none;
    margin: 1vw;
}
#invH {
    background: rgb(0, 0, 0);
    color: white;
    padding: 2vh 0;
    text-align: center;
    width: 70vw;
    border-radius: 1vh;
    border-style: solid;
    border-color: rgb(142, 137, 137);
}

/* Items styling */
#swordCon {
    display: flex;
    flex-direction: column;
}
#swordMain {
    display: flex;
    font-size: 2vh;
    border-bottom-style: solid;
}
#swordH {
    font-size: 6vw;
    border-right-style: solid;
    padding: 2vw;
    flex-basis: 30%;
    flex-grow: 1;
}
#swordIcon  {
    font-size: 10vw;   
}
#swordLabel  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#swordCheck {
    display: none;
}
#bandageCon {
    display: flex;
    flex-direction: column;
}
#bandageH {
    font-size: 6vw;
    border-right-style: solid;
    padding: 2vw;
    flex-grow: 1;
}
#bandageMain {
    display: flex;
    font-size: 2vh;
    border-bottom-style: solid;
}
#bandageCount {
    padding: 0 4vw;
    text-align: center;
    align-self: center;
}


/* End Game */
#endGame {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 1vh;
    z-index: 200;
    background-color: rgb(165 159 152 / 83%);
    align-items: center;
    justify-content: space-evenly;
}
#endMsg {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    border-style: solid;
    font-size: 7vw;
    text-align: center;
    padding: 10vw 5vh;
    border-color: rgb(31 67 110);
    color: rgb(212, 212, 212);
    background: #000000b2;
}
#searchBtn {
    display: none;
    height: 10vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    border-style: solid;
    font-size: 5vw;
    text-align: center;
    border-color: rgb(31 67 110);
    color: rgb(212, 212, 212);
    background: #000000b2;
}
#endBtn {
    display: none;
    height: 10vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    border-style: solid;
    font-size: 5vw;
    text-align: center;
    border-color: rgb(31 67 110);
    color: rgb(212, 212, 212);
    background: #000000b2;
}


/* Clock */
#clockContainer {
    position: fixed;
    display: flex;
    width: 100vw;
    bottom: 1vh;
    justify-content: center;
    align-items: center;
    z-index: 70;
}
#clock {
    position: relative;
    display: flex;
    flex-direction: row;
    background: #373737bd;
    height: 5vh;
    font-size: 4vh;
    text-align: center;
    border-radius: 1vh;
    padding: 1vw;
    border-style: solid;
    border-color: white;
    color: white;
}


/* Actions  */
#actions {
    position: fixed;
    display: flex;
    gap: 4vw;
    bottom: 15.2vh;
    height: 4vh;
    font-size: 3vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}
#justIcon {
    display: none;    
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 1vh;
    padding: 1vw;
    text-align: center;
    font-size: 8.5vw;
    border-style: solid;
}
#attack, #parryCheck, #wait {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 1vh;
    padding: 1vw;
    text-align: center;
    font-size: 8.5vw;
    border-style: solid;
}
#parry {
    display: none;
}
#endTurn {
    display: none;
    flex-direction: column;
    background: #181717c4;
    color: white;
    border-radius: 1vh;
    width: 97vw;
    height: auto;
    text-align: center;
    padding: 1vw;
    border-style: solid;
}
.hideActions {
    display: block;
}

/* Combat Log */
#combatLog {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: fixed;
    background: #1c1c1ce3;
    color: #fefefe;
    border-color: #fefefe;
    bottom: 22vh;
    left: 9vw;
    width: 80vw;
    height: 13vh;
    font-size: 6vw;
    border-radius: 1vh;
    border-style: solid;
    border-width: 3px;
    padding: 1vw;
    text-align: center;
    align-items: center;
}
.combatNewEntry {
    background: rgb(34, 75, 14);
    color: rgb(255, 255, 255);
    padding: 1vw;
    border-radius: 1vh;
    height: auto;
    width: 99%;
    border-style: solid;
    margin: 1vw;
}
.combatMissEntry {
    background: rgb(12, 44, 80);
    color: white;
    padding: 1vw;
    border-radius: 1vh;
    height: auto;
    width: 99%;
    border-style: solid;
    margin: 1vw;
}
.combatZNewEntry {
    background: rgb(145, 43, 43);
    color: rgb(255, 255, 255);
    padding: 1vw;
    border-radius: 1vh;
    height: auto;
    width: 99%;
    border-style: solid;
    margin: 1vw;
}
.combatZMissEntry {
    background: rgb(96, 91, 28);
    color: rgb(255, 255, 255);
    padding: 1vw;
    border-radius: 1vh;
    height: auto;
    width: 99%;
    border-style: solid;
    margin: 1vw;
}
.braceEntry {
    background: rgb(34, 75, 14);
    color: rgb(255, 255, 255);
    padding: 1vw;
    border-radius: 1vh;
    height: auto;
    width: 99%;
    border-style: solid;
    margin: 1vw;
}
.waitEntry {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1vw;
    border-radius: 1vh;
    height: auto;
    width: 99%;
    border-style: solid;
    margin: 1vw;
}

/* Loot & new round */
#lootCon {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 300;
    width: 100vw;
    height: 100vh;
    border-radius: 1vh;
    color: rgb(212, 212, 212);
    background-color: rgb(165 159 152 / 83%);
}
#lootH {
    padding: 1vh;
    font-size: 4vh;
    border-radius: 1vh;
    border-style: solid;
    border-color: rgb(31 67 110);
    color: rgb(212, 212, 212);
    background: #000000b2;
}
#lootLi {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
}
#lootLi li {
    padding: 0.5vh;
    border-style: solid;
    border-radius: 0.5vh;
    text-align: center;
    border-radius: 1vh;
    border-style: solid;
    color: #000000;
    border-color: #000000;
    background: #bab8b8eb;
}
#newRound {
    display: flex;
    flex-direction: column;
    padding: 1vh;
    font-size: 3vh;
    border-radius: 1vh;
    border-radius: 1vh;
    border-style: solid;
    border-color: rgb(31 67 110);
    color: rgb(212, 212, 212);
    background: #000000b2;
}

/* Tool Tips */
#toolTipCon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #1c1c1ce3;
    color: white;
    width: 80vw;
    height: auto;
    font-size: 6vw;
    z-index: 200;
    left: 10vw;
    bottom: 50vh;
    padding: 3vw;
    border-style: solid;
    border-radius: 2vw;
}
#toolTipH {
    padding: 2vw;
    text-decoration-line: underline;
}

/* Media queries for landscape views */
@media (orientation: landscape) {

    /* Main Styling MQ*/
    body {
        background: black url(../image/zombie-1.png) no-repeat;
        background-size: 50vw 100vh;
    }

    /* Setting Button MQ */
    #settingsBtn {
        font-size: 10vh;
        left: 58vw;
    }
    /* Setting Screen MQ */
    #settings {
        width: 41vw;
        bottom: 45vh;
        left: 58vw;
        font-size: 4vh;
    }
    #settings h3 {
        font-size: 5vh;
    }


    /* Zombie Health Bar MQ */
    #zHealthBar {
        top: 13vh;
        left: 15vw;
        height: 3vh;
        width: 25vw;
    }


    /* Player Health Bar MQ */
    #pHealthBar {
        bottom: 12vh;
        left: 58vw;
        height: 7vh;
        width: 40vw;
    }


    /* Noise Level Indicator MQ */
    #noiseLevel {
        left: 1vw;
        bottom: 23vh;
        height: 60vh;
        width: 7vh;
    }


    /* Inventory MQ */
    #inv {
        bottom: 22vh;
        left: 58vw;
        height: 69vh;
        width: 40vw;
    }
    #inv h3 {
        padding: 2vh 0;
        width: 40vw;
        font-size: 5vh;
    }
    .items {
        width: 58vh;
        margin: 1vh;
    }
    #itemList {
        margin-bottom: 12vh;
        padding-left: 3vh;
    }
    #itemList li {
        width: 58vh;
        margin: 1vh;
    }


    /* Inventory Button MQ */
    #invBtn {
        bottom: 1vh;
        right: 2vw;
        height: 10vh;
        width: 10vh;
    }
    #invBtnLabel {
    position: relative;
    font-size: 10vh;
    }


    /* Items styling MQ*/
    #swordMain {
        font-size: 2vh;
    }
    #swordH {
        font-size: 6vw;
        padding: 2vw;
        flex-grow: 1;
    }
    #swordIcon  {
        font-size: 10vh;   
    }
    #swordDsc {
        font-size: 4vh;
    }
    #bandageH {
        font-size: 6vh;
        padding: 2vh;
        flex-grow: 1;
    }
    #bandageMain {
        font-size: 4vh;
    }
    #bandageCount {
        padding: 0 4vh;
    }
    #bandageDsc {
        font-size: 4vh;
    }


    /* End Game MQ */
    #endMsg {
        display: none;
        font-size: 6vh;
    }
    #searchBtn {
        display: none;
        height: 10vh;
        width: 50vh;
        font-size: 5vh;
    }
    #endBtn {
        display: none;
        height: 10vh;
        width: 50vh;
        font-size: 5vh;
    }


    /* Clock MQ */
    #clockContainer {
        position: fixed;
        left: 58vw;
        width: 40vw;
        bottom: 1vh;
    }
    #clock {
        font-size: 6vh;
        height: 7vh;
        padding: 1vh;
    }


    /* Actions MQ */
    #actions {
        left: -18vw;
        font-size: 4vh;
        bottom: 6vh;
        justify-content: center;
    }
    #endTurn {
        display: none;
        padding: 1vh;
        width: 81vh;
    }
    #justIcon {
        display: none;
        padding: 1vh;
        font-size: 10vh;
    }
    #attack, #parryCheck, #wait {
        padding: 1vh;
        font-size: 10vh;
    }


    /* Combat Log MQ*/
    #combatLog {
        bottom: 22vh;
        left: 58vw;
        width: 38vw;
        height: 63vh;
        font-size: 5vh;
        border-width: 0.5vw;
        padding: 1vw;
    }


    /* Tool Tips MQ*/
    #toolTipCon {
        width: 25vw;
        font-size: 4vh;
        bottom: 29vh;
        left: 17vw;
        border-radius: 2vh;
    }



    /* Loot & new round MQ*/
    #lootCon {
        width: 99vw;
        height: 99vh;
        left: 0.25vw;
        bottom: 0.25vh;
        border-radius: 1vh;
    }
    #lootH {
        padding: 1vw;
        font-size: 9vh;
    }
    #lootLi {
        gap: 1vw;
    }
    #lootLi div {
        padding: 0.5vw;
        border-radius: 0.5vw;
        font-size: 5vh;
    }
    #newRound {
        padding: 1vh;
        font-size: 8vh;
        border-radius: 1vh;
    }   
}